html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff; /* White background */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.color-label {
  margin-right: 10px;
  font-size: 16px;
}

.color-picker {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  margin: 2px;
  background-color: #d3d3d3; /* Grey cells */
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.cell:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  filter: brightness(1.1);
}

.cell.active {
  border-color: #fff;
  border-width: 2px;
}

.cell.highlight {
  background-color: rgba(211, 211, 211, 0.5); /* Semi-transparent grey */
}

.cell.main-highlight {
  background-color: #000000;
}

.cell.active-hover {
  background-color: #000000;
}

.cell.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  animation: shimmer 4s infinite linear;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  margin-bottom: 20px;
}
